<<?xml version="1.0"?>
<<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="test-bot">
    <<link name="boat">
        <visual>
            <mesh filename="stl/Part Studio - båt.stl" scale="1.0"/>
        </visual>
        <collision>
        </collision>
        <inertial>
            <mass value="27.0"/>
        </inertial>
    </link>
</robot>